[submodule "mupen64plus-ui-console"]
	path = mupen64plus-ui-console
	url = https://github.com/mupen64plus/mupen64plus-ui-console
[submodule "mupen64plus-rsp-hle"]
	path = mupen64plus-rsp-hle
	url = https://github.com/mupen64plus/mupen64plus-rsp-hle.git
[submodule "mupen64plus-input-sdl"]
	path = mupen64plus-input-sdl
	url = https://github.com/mupen64plus/mupen64plus-input-sdl
[submodule "mupen64plus-video-glide64mk2"]
	path = mupen64plus-video-glide64mk2
	url = https://github.com/mupen64plus/mupen64plus-video-glide64mk2
[submodule "mupen64plus-input-sdltouch"]
	path = mupen64plus-input-sdltouch
	url = https://github.com/krnlyng/mupen64plus-input-sdltouch
[submodule "mupen64plus-audio-sdl"]
	path = mupen64plus-audio-sdl
	url = https://github.com/mupen64plus/mupen64plus-audio-sdl
[submodule "mupen64plus-core"]
	path = mupen64plus-core
	url = https://github.com/mupen64plus/mupen64plus-core.git
